@font-face {
    font-family: "roboto-bold";
    font-display: swap;
    src: url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "roboto-medium";
    font-display: swap;
    src: url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}